data/bronze/
data/silver/
data/gold/
models/*.pkl
models/*.joblib
__pycache__/
*.ipynb_checkpoints/
.env
.venv
.DS_Store
trazabilidad_scraper_dengue_piura_2025/
trazabilidad_scraper_dengue_piura_2025.zip
